@import './variables.module.scss';
@import './mixins.module.scss';


.footer {
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    background-color: $color-principal;
    color: $color-title;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redesContainer {
    display: flex;
    gap: 2rem;
    color: #727B86;


    a{

    font-size: 1.5rem;

        &:hover{
            color: $color-complemantary;
        }
    }
  
}