@import './variables.module.scss';
@import './mixins.module.scss';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}



* {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}
.main {
  min-height: 100vh;
  padding-top: 5rem;

}

h2 {
  color: $color-title;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;  position: relative;
  &::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 4px;
    background:$color-complemantary;
    transition: all 0.3s;
    margin: -10px auto;;
  }

  @include medium{
  font-size: 2.8rem;

  }
}