@import './variables.module.scss';
@import './mixins.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}



* {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}
.main {
  min-height: 100vh;
  padding-top: 5rem;

}

h2 {
  color: $color-title;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;  position: relative;
  &::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 4px;
    background:$color-complemantary;
    transition: all 0.3s;
    margin: -10px auto;;
  }

  @include medium{
  font-size: 2.8rem;

  }
}



.section {
  background-color: $color-principal;
  width: 100%;

  @include medium {
    padding: 0 3rem;

  }

  @include large {
    padding: 0 6rem;

  }

}


.container {
  max-width: 968px;
  margin: 0 auto;

  @include medium {
    max-width: 1280px;
  }
}


.active {
  transition: all 0.3s ease-in-out;
  border-bottom: 3px solid $color-complemantary;
  color: $color-complemantary;
  font-weight: bold;

}