/*Colores*/
$color-principal: #2F2F2F;
$color-secundario: #2A2A2A;
$color-title: #f5f5f5;



$color-complemantary: #F5AF31;


$color-navmov: #252525;


$color-btn: #52b69a;


:export {
    $color-principal: $color-principal;
    $color-secundario: $color-secundario;
    $color-title: $color-title;
    $color-btn: $color-btn;

    $color-navmov: $color-navmov;
    $color-complemantary: $color-complemantary;
}